@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@using Sitecore.Mvc.Helpers
@using Sitecore.Mvc


@model Sitecore.XA.Foundation.Variants.Abstractions.Models.VariantsRenderingModel

@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{
<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "ThreeCallToActionsWithBanner" , Model.Attributes)>

    <div class="img-fluid div-bg py-5" id="" style="background-image: url('https://www.sodexo.fr/fstrz/r/s/aziest1hxq182.blob.core.windows.net/fr-uploads/2022/01/MicrosoftTeams-image-40.png'); margin-bottom: 380px">
        <div class="container py-5">
            <h1 class="main-title mt-3" style="color: #ffffff">@Html.Sitecore().Field("Title")</h1>
            <h2 class="main-title" style="color: #ffffff">@Html.Sitecore().Field("SubTitle")</h2>
            <div class="d-md-flex mt-5 mb-5">
                @Html.Sitecore().Field("Banner Link 1", Model.Item, new { @class = "btn btn-white mx-auto mx-md-0 mb-3 mb-md-0 d-md-block d-inline-block", @type = "button" })
                @Html.Sitecore().Field("Banner Link 2", Model.Item, new { @class = "btn btn-red mx-auto mx-md-4 d-md-block d-inline-block", @type = "button" })
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="insert-slider d-md-flex flex-wrap align-items-center justify-content-center w-100">
            <div class="insert px-md-0 py-md-2 mx-3 mb-3 mb-md-0 col-md-3 align-self-stretch text-center" style="color: #55547d" tabindex="-1" role="option" aria-describedby="slick-slide00">
                <h3 class="mt-3 mb-3">@Html.Sitecore().Field("Call To Action 1 Title")</h3>
                <div class="mt-3 mb-4 d-flex align-items-center justify-content-center" style="background-color: #8282dc">
                    @Html.Sitecore().Field("Call To Action 1 Image", Model.Item, new { @class = "pt-2 pb-1 img-fluid mx-auto lazyloaded", @type = "button" })
                </div>
                @Html.Sitecore().Field("Call To Action 1 Link 1", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#8282dc'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
                @Html.Sitecore().Field("Call To Action 1 Link 2", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#8282dc'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
                @Html.Sitecore().Field("Call To Action 1 Link 3", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#8282dc'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
            </div>
            <div class="insert px-md-0 py-md-2 mx-3 mb-3 mb-md-0 col-md-3 align-self-stretch text-center" style="color: #55547d" tabindex="-1" role="option" aria-describedby="slick-slide01">
                <h3 class="mt-3 mb-3">@Html.Sitecore().Field("Call To Action 2 Title")</h3>
                <div class="mt-3 mb-4 d-flex align-items-center justify-content-center" style="background-color: #3cdcc8">
                    @Html.Sitecore().Field("Call To Action 2 Image", Model.Item, new { @class = "pt-2 pb-1 img-fluid mx-auto lazyloaded", @type = "button" })
                </div>
                @Html.Sitecore().Field("Call To Action 2 Link 1", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#3cdcc8'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
                @Html.Sitecore().Field("Call To Action 2 Link 2", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#3cdcc8'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
                @Html.Sitecore().Field("Call To Action 2 Link 3", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#3cdcc8'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
             </div>
            <div class="insert px-md-0 py-md-2 mx-3 mb-3 mb-md-0 col-md-3 align-self-stretch text-center" style="color: #55547d" tabindex="-1" role="option" aria-describedby="slick-slide02">
                <h3 class="mt-3 mb-3">@Html.Sitecore().Field("Call To Action 3 Title")</h3>
                <div class="mt-3 mb-4 d-flex align-items-center justify-content-center" style="background-color: #ff9673">
                    @Html.Sitecore().Field("Call To Action 3 Image", Model.Item, new { @class = "pt-2 pb-1 img-fluid mx-auto lazyloaded", @type = "button" })
                </div>
                @Html.Sitecore().Field("Call To Action 3 Link 1", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#ff9673'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
                @Html.Sitecore().Field("Call To Action 3 Link 2", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#ff9673'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
                @Html.Sitecore().Field("Call To Action 3 Link 3", Model.Item, new { @class = "d-block my-3", @onmouseover = "this.style.color='#ff9673'", @onmouseout = "this.style.color='#55547d'", @tabindex = "-1" })
            </div>
        </div>
    </div>
    <div class="component-content">
        @if (Model.DataSourceItem == null)
        {
        @Model.MessageIsEmpty
        }
        else
        {
        foreach (BaseVariantField variantField in Model.VariantFields)
        {
        @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
        }
        }
    </div>
</div>
}